*{
    padding: 0;
    margin: 0;
    width: 100%;
}

#main-content{
    width: 100vw;
    height: 100vh;
    background-image: url("../pictures/bg_gradient.png");
    background-size:cover;

}

#top-left{
    width: 50vw;
    height: 50vh;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

#top-right{
    width: 50vw;
    height: 50vh;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}

#bottom-left{
    width: 50vw;
    height: 50vh;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
}

#bottom-right{
    width: 50vw;
    height: 50vh;
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
}

.icon{
    width: 8em;
    margin: 3em;
    display: inline-block;
}

/** Speed */
#speed{
    text-align: center;
    width: 20vw;
    display: inline-block;
}

.text{
    line-height: 4em;
    color: black;
    font-family: sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}

#car-speed{
    font-size: 3.5em;
}

/** Sensors */
.sensor{
    text-align: center;
    width: 10vw;
    display: inline-block;
}

/**Fuel */

.fuel{
    text-align: center;
    width: 12vw;
    display: inline-block;
    font-size: 1em !important;
    left: -4vw;
    top: -4vh;
    position: relative;
}

.gasStation{
    text-align: center;
    width: 12vw;
    top: -4vh;
    position: relative;
    display: inline-block;
}

#mapButton{
    top: -7vh;
    width: 10vw;
    position: relative;
    left: 55%;
}
